<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Resume </title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="app/assets/stylesheets/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">About</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#education">Education</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#experience">Experience</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#academicProjects">Academic Projects</a>
                    </li>
                   
					<li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Sri Harsha Konuru</h1>
                    <p><strong>About:</strong> Graduate student at University of Maryland Baltimore County </p>
                    <p>Working as a Research assistant in Energy Efficient High performance Computation Lab </p>
                    <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a>
                    
                </div>
            </div>
        </div>
    </section>

   

    <!-- Education Section -->
    <section id="education" class="education-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Education</h1>
						
                        <div class="row">
                            <div class="col-md-6">
                                <img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Umbc.svg/2000px-Umbc.svg.png" style="width:250px;height:150px";>
                            </div>                           
                            <div class="col-md-6">
                                <img  src="https://upload.wikimedia.org/wikipedia/en/0/02/Pics_gitam_tee.jpg" style="width:150px;height:150px";>
                             
                            </div>
                            
                        </div>
                        <div class="row">
                              <div class="col-md-6">
                              
                                <h3>University of Maryland Baltimore County</h3>
                                Master of Science<br>
                                Computer Engineering
                            </div>
                             
                             <div class="col-md-6">
                              
                                
                                <h3>GITAM University </h3>
                                <h4>Bachelor of Technology</h4> 
                                <h4>Electronics and Communication Engineering</h4>

                            </div>
                           
                        </div>                      
                </div>
            </div>
        </div>
    </section>

	 <!-- Experience Section -->
    <section id="experience" class="experience-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Experience</h1>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Umbc.svg/2000px-Umbc.svg.png" style="width:200px;height:100px";>
                                    
                            </div>
                            <div class="col-md-6">
                                <img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Umbc.svg/2000px-Umbc.svg.png" style="width:200px;height:100px";>
                              
                            </div>
                        </div>
                        <div class = "row">
                             <div class="col-md-6">
                                <h4>Graduate Research assistant</h4>     
                                <p>
                                        <span class = "more">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </span>
                                <p>                       
                            </div>
                            <div class="col-md-6">
                                <h4>Graduate Teching Assistant<h4/> 
                                <p>
                                        <span class = "more">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </span>
                                <p>   
                            </div>
                        </div>
                        
                       
                        <div class="row">
                            <div class="col-md-6">
                                <img  src="http://www.indiafreelance.com/assets/logos/large/c3772bd6831844a533e01fcbdbece594.jpg" style="width:250px;height:150px";>
                             
                            </div>
                            <div class="col-md-6">
                                <img src= "http://www.manyatait.com/wp-content/uploads/2015/10/HPES.png" style="width:250px;height:150px";>
                              
                            </div>
                        </div>
                         <div class = "row">
                             <div class="col-md-6">
                                <h4>Software Developer</h4> 
                                   <p>
                                        <span class = "more">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </span>
                                <p>                           
                            </div>
                            <div class="col-md-6">
                                <h4>Internship<h4/> 
                                   <p>
                                        <span class = "more">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </span>
                                <p>
                            </div>
                        </div>
                        
                        
                  <!--
                        <div class = "row">
                             <div class="col-md-12">
                                <img src= "http://www.ekalavvya.com/wp-content/uploads/2013/04/DRDO.jpg" style="width:150px;height:150px";>
                              
                            </div>
                        </div>
                        <div class = "row">
                             <div class="col-md-6">
                                Industrial Training
                            </div>
                        </div>
                    -->

                </div>
            </div>
        </div>
    </section>

    <!-- Academic Project Section -->
    <section id="academicProjects" class="academicProjects-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Academic projects</h1>
                </div>
                <div class= "row">
                    <div class="col-lg-4">
                        <h4>Framework for Scene Recognition</h4>
                        <p>
                        Used CNN as Feature Extraction and Machine Learning Kernels (Perceptron and SVM) as Classifiers
                        <br>
                        
                        Comparison of Serial and Parallel implementation of the frame work was performed for
                        training and classification of various images on Bluewave cluste
                        </p>
                    </div>

                    <div class="col-lg-4">
                        <h4>Wifi Enabled Surveilance robot</h4>
                        <p>
                        Designed a robot which can move around in a given environment 
                        while transmitting real time data to ground station using wireless communication
                        </p>
                    </div>

                     <div class="col-lg-4">
                        <h4> Object Detection using Convolution Neural Networks</h4>
                        <p>
                        Designed a Matlab code for Object detection using different different layers of Convolution Neural Networks
                        like Covolution and Maxpooling Layer
                        </p>
                    </div>
                </div>
                <div class = "row">      
                    <div class="col-lg-4">
                        <h4> LPG gas detector using arduino</h4>
                        <p>
                        Identify potential gas leak by using LPG sensor and alarms user through a SMS
                        which is incorporated using GSM module
                        </p>
                    </div>

                     <div class="col-lg-4">
                        <h4> Mobile Controlled Obstacle Avoider Robot</h4>
                        <p>
                        Designed a robot which detects the obstacles and controlled using android mobile application
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <h4> NoSQL Vs SQL Database Systems: Performance Evaluation</h4>
                        <p>
                        Learnt to setup and work with MongoDB and pass queries to the server
                        Compared and analyzed the performance of a MongoDB Vs MySQL database systems on WRUD operations with
                        an employee dataset
                        </p>
                    </div>
                
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                    <form name="htmlform" method="post" action="html_form_send.php">
                        <table width="450px">
                        
                            <tr>
                                <td valign="top">
                                    <label for="first_name">First Name *</label>
                                </td>
                                <td valign="top">
                                    <input  type="text" name="first_name" maxlength="50" size="30">
                                </td>
                            </tr>
 
                            <tr>
                                <td valign="top"">
                                    <label for="last_name">Last Name *</label>
                                </td>
                                <td valign="top">
                                    <input  type="text" name="last_name" maxlength="50" size="30">
                                </td>
                            </tr>


                            <tr>
                                <td valign="top">
                                    <label for="message">Message *</label>
                                </td>
                            <td valign="top">
                                <textarea  name="message" maxlength="1000" cols="25" rows="6"></textarea>
                            </td>
 
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:center">
                                    <input type="submit" value="Submit">   ( <a href="http://www.freecontactform.com/html_form.php">HTML Form</a> )
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="app/assets/javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="app/assets/javascripts/bootstrap.min.js"></script>
    <script src="app/assets/javascripts/bootstrap.js"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="app/assets/javascripts/jquery.easing.min.js"></script>
    <script src="app/assets/javascripts/scrolling-nav.js"></script>

</body>

</html>
